
h1{
   border: 2px solid;
  
}

p{
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: large;
    font: 12px bold italic monospace; /*1em = 16px*/
}
a{
    text-decoration: none;
}
/**top right bottom left*/